<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="silicon.Properties.Settings.studentConnectionString"
            connectionString="Data Source=DESKTOP-FICTVAJ\SQLRXPRESS;Initial Catalog=student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>